.about__page .header {
  background: #fff;
}
.about__page .header.scrolled {
  background: #fff;
}
.about__page .header__menu_line {
  background: linear-gradient(150deg, #087b96 5%, #03d9fb 60%);
}
.about__page .header__logo:hover {
  color: #A6A6A6;
}
.about__page .header__btn_om span {
  background: #00A2B8;
}
.about__page .header.scrolled .header__btn_om span {
    background: #fff;
}


.section__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  margin-bottom: 100px;
}
.section__about_first {
  margin-top: 120px;
  margin-bottom: 74px;
}
.about__container_title {
  font-family: 'EkibastuzBlack';
  font-weight: normal;
  font-size: 54px;
  line-height: 54px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #4A4A4A;
  margin-bottom: 23px;
}
.about__container_title.title__second {
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #00A2B8;
  margin-bottom: 14px;
}
.about__container_description {
  max-width: 670px;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #828282;
}
.about__container_description.descr__second {
  max-width: 685px;
}
.section__about_third {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 50px);
  max-width: 1150px;
  margin-top: 64px;
  margin-bottom: 96px;
}
.about__container_block {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.about__container_number {
  position: relative;
  margin-right: 5px;
}
.about__container_number:after {
  position: absolute;
  top: 0;
  right: -30px;
  content: url(../img/about/plus.svg);
}
.about__container_descr {
  text-align: left;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #6C6C6C;
}
.about__container_line {
  width: 1px;
  height: 44px;
  background: #aaa;
}
.about__container_fourth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.about__line {
  display: block;
  width: calc(50% - 46px);
  height: 1px;
  background: #D8D8D8;
} 
.about__ellipse {
  display: block;
  width: 14px;
  height: 14px;
  background: #757575;
  border-radius: 50%;
  border: 16px solid #EBEBEB;
}
.about__lines {
  position: absolute;
  bottom: -30px;
  width: 100%;
  height: 360px;
  z-index: 2;
  pointer-events: none;
  background-image: url(../img/estimate/estimate_lines.svg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
  -o-background-size: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -khtml-background-size: 100%;
}
.section__team {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}
.title__container {
  font-family: 'EkibastuzBlack';
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #4A4A4A;
  margin-bottom: 45px;
}
.team__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(100% - 50px);
  max-width: 1140px;
}
.persone__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin-bottom: 35px;
}
.persone_photo {
  margin-bottom: 26px;
}
.persone__name {
  font-family: 'EkibastuzBlack';
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #4A4A4A;
}
.persone__name:after {
  content: '';
  display: block;
  width: 24px;
  height: 3px;
  background: #0195B6;
  margin: 10px auto;
}
.persone__position {
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #6C6C6C;
}

@media screen and (max-width: 1690px) {
  .about__lines {
    bottom: -115px;
  }
}
@media screen and (max-width: 1470px) {
  .about__lines {
    bottom: -160px;
  }
}
@media screen and (max-width: 1380px) {
  .about__lines {
    bottom: -195px;
  }
}
@media screen and (max-width: 1220px) {
  .about__lines {
    bottom: 0px;
    background-size: 130%;
    -o-background-size: 130%;
    -webkit-background-size: 130%;
    -moz-background-size: 130%;
    -khtml-background-size: 130%;
  }
}
@media screen and (max-width: 1100px) {
  .about__container_number img {
    height: 80px;
  }
  .about__container_descr {
    font-size: 16px;
    line-height: 20px;
  }
}
@media screen and (max-width: 960px) {
  .about__container_line {
    display: none;
  }
  .persone_photo {
    width: 100px;
    height: auto;
  }
  .persone__name {
    font-size: 16px;
    line-height: 16px;
  }
}
@media screen and (max-width: 920px) {
  .section__about_third {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .about__container_number img {
    height: 110px;
    margin-bottom: 7px;
  }
  .about__container_block {
    flex-direction: column;
    margin-bottom: 60px;
  }
  .about__container_descr {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }
  .about__container_number:after {
    top: 65px;
  }
  .about__lines {
    bottom: 110px;
  }
}
@media screen and (max-width: 800px) {
  .section__about {
    margin-bottom: 40px;
  }
  .persone__block {
    width: 50%;
  }
  .title__container {
    font-size: 30px;
    line-height: 30px;
  }
  .persone_1 {order: 1}
  .persone_2 {order: 2}
  .persone_3 {order: 3}
  .persone_4 {order: 5}
  .persone_5 {order: 4}
  .persone_6 {order: 6}
  .persone_7 {order: 7}
  .persone_8 {order: 8}
}
@media screen and (max-width: 780px) {
  .about__container_title {
    font-size: 30px;
    line-height: 32px;
  }
  .about__container_description {
    font-size: 14px;
    line-height: 21px;
  }
  .about__container_title.title__second {
    font-size: 30px;
    line-height: 30px;
  }
  .section__about_first,
  .section__about_second {
    width: calc(100% - 60px);
  }
}
@media screen and (max-width: 600px) {
  .section__about_first {
    margin-top: 60px;
    margin-bottom: 50px;
  }
  .section__about_third {
    margin-bottom: 0;
  }
  .about__lines {
    bottom: 267px;
    background-size: 150%;
    -o-background-size: 150%;
    -webkit-background-size: 150%;
    -moz-background-size: 150%;
    -khtml-background-size: 150%;
  }
}
@media screen and (max-width: 460px) {
  .about__lines {
    height: 580px;
    bottom: 236px;
    background-position: 35% 5%;
    background-size: 180%;
    -o-background-size: 180%;
    -webkit-background-size: 180%;
    -moz-background-size: 180%;
    -khtml-background-size: 180%;
  }
}
@media screen and (max-width: 440px) {
  .team__container {
    width: calc(100% - 30px);
  }
}
@media screen and (max-width: 420px) {
  .persone_3 .persone__position,
  .persone_5 .persone__position {
    height: 42px;
  }