.design__page .scrollup {
  background: url(../img/design/arrowup.svg) no-repeat center;
}
.design__page .header {
  background: none;
}
.design__page .header.scrolled {
  background: #fff;
}
.design__page .header.scrolled .header__block_logo:before {
  background: linear-gradient(104.24deg, #3D1AA3 0.85%, #DF255C 102.3%);
}
.design__page .header__logo {
  color: #fff;
}
.design__page .header.scrolled .header__logo {
  display: block;
  color: #fff;
}   
.design__page .content {
  margin-top: 0;
}
.design__page .header.scrolled .header__btn_ep {
  color: #871f82;
  background: #fff;
}
.design__page .header__menu_link.active a {
  color: #fff;
}
.design__page .link__line {
  background: #fff;
}
.design__page .header.scrolled .header__menu_link.active a {
  color: #00A2B8;
}
.design__page .header__menu_line {
  background: linear-gradient(147.42deg, #3D0047 10.26%, #006176 115.14%);
}
.design__page .header__menu_link a {
  color: #B1B1B1;
}
.design__page .header__menu_link a:hover {
  color: #fff;
}
.design__page .header.scrolled .header__menu_link a {
  color: #A6A6A6;
}
.design__page .header.scrolled .header__menu_link a:hover {
  color: #00A2B8;
}

.section__design {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 490px;
  background: linear-gradient(180deg, rgba(51, 0, 197, 0.68) 0%, rgba(220, 16, 102, 0.66) 100%);
  color: #fff;
}
.design__fon {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url(../img/design/design_fon.png);
  background-repeat-x: no-repeat;
  background-position: center top;
  background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -khtml-background-size: cover;
  animation: movefonUp 45s linear infinite;
}
@keyframes movefonUp {
  from {
    background-position: center top;
  }
    to {
      background-position: center bottom;
    }
}
.design__container_title {
  width: 520px;
  font-size: 54px;
  line-height: 60px;
  text-align: center;
  text-transform: capitalize;
}
.design__container_description {
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  text-transform: capitalize;
}
.section__data {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
.section__data_img {
  margin-bottom: 40px;
}
.section__data_description {
  width: 100%;
  max-width: 890px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #4A4A4A;
  margin-bottom: 50px;
}
.data__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 50px);
  max-width: 1150px;
  margin-bottom: 140px;
}
.data__container_block {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.data__container_number {
  position: relative;
  margin-right: 5px;
}
.data__container_number:after {
  position: absolute;
  top: 0;
  right: -30px;
  content: url(../img/design/plus.svg);
}
.data__container_description {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  text-align: left;
  color: #6C6C6C;
}
.data__container_line {
  width: 1px;
  height: 44px;
  background: #aaa;
}
.section__data_inscription {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 120px;
}
.section__data_inscription:before,
.section__data_inscription:after {
  position: absolute;
  content: '';
  display: block;
  height: 1px;
  background: #D8D8D8;
  top: 80px;
}
.section__data_inscription:before {
  left: 0;
  width: 33%;
}
.section__data_inscription:after {
  right: 0;
  width: 38%;
}
.data__lines {
  position: absolute;
  bottom: -195px;
  width: 100%;
  height: 360px;
  z-index: 2;
  pointer-events: none;
  background-image: url(../img/estimate/estimate_lines.svg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -khtml-background-size: cover;
}
.section__approach {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 220px;
}
.approach__container_title {
  font-family: 'EkibastuzBlack';
  font-weight: normal;
  font-size: 36px;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
  color: #4A4A4A;
  margin-top: 50px;
  margin-bottom: 40px;
}
.approach__container_description {
  width: 100%;
  max-width: 845px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #4A4A4A;
  margin-bottom: 250px;
}
.approach__steps {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 895px;
  margin-left: -150px;
}
.approach__steps_img {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}
.step__img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(237, 237, 237, 0.6);
  border-radius: 100%;
  width: 100%;
  height: 100%;
}
.step__img_1 {
  min-width: 155.42px;
  min-height: 155.42px;
  width: 155.42px;
  height: 155.42px;
}
.step__img_2 {
  min-width: 259.04px;
  min-height: 259.04px;
  width: 259.04px;
  height: 259.04px;
  margin-bottom: 7.2%;
  margin-left: -6.7%;
}
.step__img_3 {
  min-width: 354.47px;
  min-height: 354.47px;
  width: 354.47px;
  height: 354.47px;
  margin-bottom: 4%;
  margin-left: -2.4%;
}
.step__img_4 {
  min-width: 91.8px;
  min-height: 91.8px;
  width: 91.8px;
  height: 91.8px;
  margin-bottom: 5%;
  margin-left: -6.5%;
}
.step__img_5 {
  min-width: 189.05px;
  min-height: 189.05px;
  width: 189.05px;
  height: 189.05px;
  margin-bottom: 1.9%;
  margin-left: -2.2%;
}
.step__round {
  position: absolute;
  width: 74%;
  height: auto
}
.step__img_txt {
  font-family: 'EkibastuzBlack';
  font-weight: normal;
  text-align: center;
  color: #4A4A4A;
}
.step__img_1 .step__img_txt {
  font-size: 24px;
}
.step__img_2 .step__img_txt {
  font-size: 36px;
}
.step__img_3 .step__img_txt {
  font-size: 48px;
}
.step__img_4 .step__img_txt {
  font-size: 18px;
}
.step__img_5 .step__img_txt {
  font-size: 24px;
}
.approach__steps_block {
  position: absolute;
  display: flex;
}
.step__block {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 360px;
}
.step_1 {
  left: 11.6%;
  bottom: -22%;
  align-items: flex-end;
  text-align: left;
}
.step_1:before {
  content: url(../img/design/step_1.svg);
  margin-right: 18px;
}
.step_2 {
  top: -21%;
  left: -6%;
  align-items: flex-start;
  text-align: right;
}
.step_2 .step_descr {
  min-width: 320px;
}
.step_2 .step_tegs {
  justify-content: flex-end;
}
.step_2:after {
  content: url(../img/design/step_2.svg);
  margin-left: -30px;
}
.step_3 {
  top: -40%;
  left: 48%;
  align-items: flex-start;
  text-align: left;
}
.step_3:before {
  content: url(../img/design/step_3.svg);
  margin-right: -52px;
}
.step_4 {
  left: 68.4%;
  bottom: -15%;
  align-items: flex-end;
  text-align: left;
}
.step_4:before {
  content: url(../img/design/step_4.svg);
  margin-right: -30px;
}
.step_5 {
  top: 5%;
  left: 81%;
  align-items: flex-start;
  text-align: left;
}
.step_5:before {
  content: url(../img/design/step_5.svg);
  margin-right: -52px;
}
.step__title.step__title_mobile {
  display: none;
  color: #00A2B8;
}
.step__title {
  font-family: 'EkibastuzBlack';
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #4A4A4A;
  margin-bottom: 5px;
}
.step_descr {
  width: 100%;
  min-width: 380px;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  color: #6C6C6C;
  margin-bottom: 5px;
}
.step_tegs {
  display: flex;
}
.teg {
  display: flex;
  font-family: 'EkibastuzBlack';
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #4A4A4A;
  margin-right: 10px;
}
.teg.green {
  margin-right: 0;
}
.teg:before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  margin-right: 5px;
  margin-top: 5px;
}
.teg.purple:before {
  background: #AB34F4;
}
.teg.yellow:before {
  background: #FFC959;
}
.teg.pink:before {
  background: #FF4E83;
}
.teg.green:before {
  background: #00C297;
}
.section__plans{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}
.plans {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}
.section__plans_title {
  width: 100%;
  font-family: 'EkibastuzBlack';
  font-weight: normal;
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  color: #4A4A4A;
  margin-bottom: 80px;
}
.plan__block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 260px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-right: 10px;
}
.plan__block.titles {
  box-shadow: none;
  padding-top: 342px;
  margin-right: 30px;
  align-items: flex-end;
}
.titles h6 {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  height: 63px;
  font-family: 'EkibastuzBlack';
  font-weight: normal;
  font-size: 14px;
  text-align: right;
  text-transform: capitalize;
  color: #4A4A4A;
}
.plan__block.startup {
  position: relative;
  box-shadow: 0px 0px 8px #AB34F4;
}
.plan__block.startup:before {
  content: url(../img/design/star.svg);
  position: absolute;
  top: -33px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 31px;
  height: 30px;
  padding-bottom: 3px;
  background: #AB34F4;
  box-shadow: 0px 0px 8px #AB34F4;
  clip-path: polygon(50% 25%, 100% 0, 100% 100%, 0 100%, 0 0);
}
.plan__block.business {
  margin-right: 0;
}
.plan__block_title {
  font-family: 'EkibastuzBlack';
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  height: 80px;
  text-align: center;
  text-transform: capitalize;
  color: #888;
  padding-top: 50px;
}
.plan__block_title span {
  font-family: 'Ekibastuz';
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
  color: #6C6C6C;
}
.startup .plan__block_title {
  color: #AB34F4;
}
.plan__block_price {
  font-weight: bold;
  font-size: 36px;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
  color: #4A4A4A;
  margin-bottom: 12px;
}
.plan__block_time {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background: #0195B6;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 20px;
}
.startup .plan__block_time {
  background: linear-gradient(100.89deg, #7E00CC 32.32%, #F91A77 105.6%);
}
.plan__block_descr {
  height: 100px;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: capitalize;
  color: #6C6C6C;
  margin-bottom: 20px;
}
.plan__block_info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 50px);
  height: 62px;
  border-top: 1px solid #D8D8D8;
}
.plan__block_info.plan__info_first {
  height: 58px;
  border-top: 1px solid #00A2B8;
}
.info__title {
  display: none;
  font-family: 'EkibastuzBlack';
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  text-transform: capitalize;
  color: #4A4A4A;
  text-align: center;
}
.info__descr {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: capitalize;
  color: #6C6C6C;
}
.info__check {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
}
.info__check.none:after {
  position: absolute;
  top: 10px;
  left: 4px;
  content: '';
  display: block;
  width: 16px;
  height: 2px;
  background: #aaa;
}
.info__check.check {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background: #00A2B8;
  border-radius: 4px;
}
.info__check.check:after {
  content: url(../img/design/checked.svg);
  position: absolute;
  top: 3px;
  left: 5px;
  width: 14px;
  z-index: 2;
}
.startup .info__check.check {
  background: #AB34F4;
}
.info__check.text {
  display: inline;
  width: auto;
  height: auto;
  background: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: capitalize;
  color: #6C6C6C;
}
.btn__buy {
  width: 200px;
  height: 40px;
  background: #00A2B8;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'EkibastuzBlack';
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 37px;
}
.btn__buy:hover {
  color: #fff;
  background: #00A2B8;
}
.startup .btn__buy {
  background: linear-gradient(98.43deg, #8702C6 35.68%, #F1187D 103.79%);
}
.startup .btn__buy:hover {
  background: linear-gradient(98.43deg, #8702C6 35.68%, #F1187D 103.79%);
}
.addons__title {
  width: 1070px;
  text-align: left;
  padding-left: 290px;
  margin-bottom: 20px;
}
.addons {
  display: flex;
  justify-content: center;
  width: 100%;
}
.addons__block.titles {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 260px;
  margin-right: 30px;
  padding-top: 30px;
}
.addons__block {
  display: flex;
  flex-direction: column;
}
.tabl {
  width: 1010px;
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.tabl__block_info {
  display: flex;
  justify-content: space-between;
  height: 42px;
}
.tabl__info.info__title {
  display: none;
}
.tabl .info__descr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(50% - 10px);
  border-top: 1px solid #D8D8D8;
}
.tabl .tabl__info_first .info__descr {
  border-top: none;
}
.addons .titles h6 {
  height: 42px;
}
.section__reviews {
  position: relative;
  height: 549px;
  margin-bottom: 150px;
}
.reviews__container_img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.section__reviews .img__block {
  background-position: left bottom;
}
.reviews__text {
  z-index: 2;
  background-image: url(../img/design/reviews_text.svg);
}
.reviews__gradient {
  z-index: 1;
  background-image: url(../img/design/reviews_gradient.svg);
}
.reviews__lower {
  z-index: 3;
  background-image: url(../img/design/reviews_lower.svg);
}
.reviews__container_text {
  position: absolute;
  top: 14px;
  right: 175px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 870px;
}
.review__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 385px;
  margin-bottom: 70px;
}
.review__block.review_3 {
  margin-left: 55px;
}
.review__block.review_4 {
  margin-right: -12px;
}
.review__block_descr {
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
  line-height: 22px;
  text-transform: capitalize;
  text-align: left;
  color: #888888;
  margin-bottom: 15px;
}
.review__block_name {
  width: 100%
  max-width: 260px;
  font-family: 'EkibastuzBlack';
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  text-align: left;
  color: #00A2B8;
}
.review__block_name span {
  font-size: 14px;
  line-height: 14px;
  color: #4A4A4A;
}

@media screen and (max-width: 1800px) {
  .section__data_inscription:before { width: 30%; }
  .section__data_inscription:after { width: 36%; }
}
@media screen and (max-width: 1550px) {
  .section__data_inscription:before { width: 28%; }
  .section__data_inscription:after { width: 34.5%; }
  .reviews__container_text {
    right: 70px;
    max-width: 860px;
  }
}
@media screen and (max-width: 1435px) {
  .reviews__container_text {
    max-width: 820px;
    right: 37px;
  }
}
@media screen and (max-width: 1400px) {
  .section__data_inscription:before { width: 26%; }
  .section__data_inscription:after { width: 33%; }
}
@media screen and (max-width: 1375px) {
  .plan__block.titles,
  .addons__block.titles {
    width: 210px;
    margin-right: 20px;
  }
  .addons__title {
    width: 1100px;
    padding-left: 260px;
  }
  .section__reviews {
    height: 440px;
  }
  .reviews__container_text {
    max-width: 820px;
  }
  .section__reviews {
    height: 440px;
  }
  .review__block {
    margin-bottom: 40px;
  }
  .review__block_descr {
    font-size: 14px;
  }
}
@media screen and (max-width: 1330px) {
  .plan__block.titles {
    display: none;
  }
  .info__title {
    display: inline;
  }
  .info__check.check {
    background: transparent;
  }
  .info__check.check:after {
    content: url(../img/design/checked_mob.svg);
  }
  .startup .info__check.check {
    background: transparent;
  }
  .plan__block_info {
    height: auto;
    padding: 5px 0; 
  }
  .info__check.text {
    line-height: 24px;
  }
  .addons__title {
    width: 840px;
    padding-left: 230px;
  }
  .tabl {
    width: calc(100% - 260px);
    max-width: 790px;
    padding: 25px;
  }
}
@media screen and (max-width: 1300px) {
.section__data_inscription:before { width: 24%; }
.section__data_inscription:after { width: 31.5%; }
.reviews__container_text {
    max-width: 815px;
    right: 0px;
  }
}
@media screen and (max-width: 1220px) {
  .section__data_inscription:before,
  .section__data_inscription:after { display: none; }
  .design__fon {
    animation: movefonUp 35s linear infinite;
  }
  .design__page .header__btn_om:hover span {
    background: #fff;
  }
  .design__page .header.scrolled .header__block_logo {
    justify-content: space-between;
  }
  .design__page .header__menu_link.active a {
    color: #00A2B8;
  }
  .design__page .header__menu_link a:hover {
    color: #00A2B8;
  }
  .section__reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .reviews__container_text {
    position: relative;
    right: 0;
  }
  .reviews__container_img {
    position: relative;
    height: 549px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 1140px) {
  .approach__container_description {
    margin-bottom: 50px;
  }
  .approach__steps_block {
    position: relative;
  }
  .approach__steps_block:after,
  .approach__steps_block:before {
    content: '';
    display: none;
  }
  .approach__steps_block.step_1,
  .approach__steps_block.step_2,
  .approach__steps_block.step_3,
  .approach__steps_block.step_4,
  .approach__steps_block.step_5 {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: left;
    margin-bottom: 25px;
  }
  .approach__steps {
    margin-left: 0;
  }
  .approach__steps_img {
    margin-bottom: 40px;
  }

  .step__title.step__title_mobile {
    display: inline;
  }
  .step_2 .step_tegs {
    justify-content: flex-start;
  }
  .approach__steps_descr {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  .approach__steps_block .step_descr {
    min-width: 380px;
  }
  .section__approach {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1100px) {
  .data__container_number img {
    height: 80px;
  }
  .data__container_description {
    font-size: 16px;
    line-height: 20px;
  }
  .plan__block {
    width: 50%;
    max-width: 260px;
    margin-right: 0;
    margin-bottom: 24px;
  }
  .plans {
    width: 100%;
    max-width: 540px;
    justify-content: space-between;
  }
  .plan__block.startup:before {
    content: url(../img/design/star_mob.svg);
    top: 15px;
    width: 14px;
    height: 14px;
    padding-bottom: 0;
    background: none;
    box-shadow: none;
    clip-path: none;
  }
  .plan__block_title {
    height: 60px;
    padding-top: 40px;
  }
  .section__plans_title {
    margin-bottom: 40px;
  }
  .section__plans_title.addons__title {
    width: 540px;
    padding-left: 0;
    margin-bottom: 20px;
  }
  .addons__block.titles {
    display: none;
  }
  .tabl__info.info__title {
    display: inline;
    margin-bottom: 5px;
  }
  .tabl {
    width: calc(100% - 50px);
    max-width: 490px;
    padding: 15px 25px;
  }
  .tabl .info__descr {
    border-top: none;
    margin-bottom: 5px;
  }
  .tabl__block_info {
    flex-direction: column;
    align-items: center;
    height: auto;
    border-top: 1px solid #D8D8D8;
    padding: 12px 0 5px;
  }
  .tabl__block_info.tabl__info_first {
    border-top: none;
  }
}
@media screen and (max-width: 960px) {
  .design__fon {
    animation: none;
  }
  .data__container_line {
    display: none;
  }
}
@media screen and (max-width: 920px) {
  .data__container {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .data__container_number img {
    height: 110px;
    margin-bottom: 7px;
  }
  .data__container_block {
    flex-direction: column;
    margin-bottom: 60px;
  }
  .data__container_description {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }
  .data__container_number:after {
    top: 65px;
  }
  .section__data_description,
  .section__data_inscription img {
    width: calc(100% - 80px);
  }
  .data__lines {
    bottom: -80px;
    background-position: 5% center;
    background-size: 200%;
    -o-background-size: 200%;
    -webkit-background-size: 200%;
    -moz-background-size: 200%;
    -khtml-background-size: 200%;
  }
  .approach__container_title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .approach__container_description {
    font-size: 14px;
    max-width: 300px;
    margin-bottom: 30px;
  }
  .approach__steps {
    max-width: 100%;
  }
  .approach__steps_img {
    max-width: 342px;
  }
  .step__img_1 {
    min-width: 58.78px;
    min-height: 58.78px;
    width: 58.78px;
    height: 58.78px;
  }
  .step__img_2 {
    min-width: 97.97px;
    min-height: 97.97px;
    width: 97.97px;
    height: 97.97px;
  }
  .step__img_3 {
    min-width: 134.07px;
    min-height: 134.07px;
    width: 134.07px;
    height: 134.07px;
  }
  .step__img_4 {
    min-width: 41px;
    min-height: 41px;
    width: 41px;
    height: 41px;
  }
  .step__img_5 {
    min-width: 71.5px;
    min-height: 71.5px;
    width: 71.5px;
    height: 71.5px;
  }
  .step__img_1 .step__img_txt {
    font-size: 11px;
  }
  .step__img_2 .step__img_txt {
    font-size: 14px;
  }
  .step__img_3 .step__img_txt {
    font-size: 20px;
  }
  .step__img_4 .step__img_txt {
    font-size: 9px;
  }
  .step__img_5 .step__img_txt {
    font-size: 12px;
  }
  .approach__steps_descr {
    flex-direction: column;
  }
}
@media screen and (max-width: 860px) {
  .reviews__container_text {
    flex-direction: column;
    align-items: center;
  }
  .review__block.review_3 {
    margin-left: 0;
  }
  .review__block.review_4 {
    margin-right: 0;
  }
  .review__block {
    align-items: flex-start;
  }
}
@media screen and (max-width: 600px) {
  .section__design {
    height: 349px;
  }
  .design__container_title {
    width: 289px;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 50px;
  }
  .design__container_description {
    width: 216px;
    font-size: 18px;
    line-height: 18px;
  }
  .section__data_description {
    font-size: 14px;
    line-height: 21px;
  }
  .data__lines {
    bottom: -60px;
    background-size: 250%;
    -o-background-size: 250%;
    -webkit-background-size: 250%;
    -moz-background-size: 250%;
    -khtml-background-size: 250%;
  }
}
@media screen and (max-width: 590px) {
  .plans {
    max-width: 260px;
    margin-bottom: 10px;
  }
  .section__plans_title {
    font-size: 30px;
  }
  .plan__block {
    width: 100%;
  }
  .tabl {
    width: calc(100% - 50px);
    max-width: 210px;
  }
  .section__plans_title.addons__title {
    width: 100%;
    text-align: center;
  }
  .tabl .info__descr {
    white-space: nowrap;
  }
}
@media screen and (max-width: 560px) {
  .reviews__container_img {
    height: 300px;
  }
  .section__data {
    padding-top: 60px;
  }
  .section__plans {
    margin-bottom: 70px;
  }
  .section__reviews {
    margin-bottom: 35px;
  }
  .section__team {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 460px) {
  .approach__container_title {
    margin-top: 0;
  }
  .approach__steps {
    width: calc(100% - 30px);
  }
  .step__block {
    max-width: 100%;
  }
  .approach__steps_block .step_descr {
    min-width: 300px;
  }
  .reviews__container_text {
    width: calc(100% - 40px);
    padding: 0 20px;
  }
  .review__block {
    width: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 410px) {
  .review__block_descr br {display: none;}
}
@media screen and (max-width: 390px) {
  .approach__steps_img {
    max-width: 300px;
  }
  .step__img_1 {
    min-width: 48.78px;
    min-height: 48.78px;
    width: 48.78px;
    height: 48.78px;
  }
  .step__img_2 {
    min-width: 87.97px;
    min-height: 87.97px;
    width: 87.97px;
    height: 87.97px;
  }
  .step__img_3 {
    min-width: 124.07px;
    min-height: 124.07px;
    width: 124.07px;
    height: 124.07px;
  }
  .step__img_4 {
    min-width: 31px;
    min-height: 31px;
    width: 31px;
    height: 31px;
  }
  .step__img_5 {
    min-width: 61.5px;
    min-height: 61.5px;
    width: 61.5px;
    height: 61.5px;
  }
  .step__img_1 .step__img_txt {
    font-size: 8px;
  }
  .step__img_2 .step__img_txt {
    font-size: 12px;
  }
  .step__img_3 .step__img_txt {
    font-size: 16px;
  }
  .step__img_4 .step__img_txt {
    font-size: 7px;
  }
  .step__img_5 .step__img_txt {
    font-size: 10px;
  }
}
@media screen and (max-width: 360px) {
  .approach__steps {
    width: calc(100% - 10px);
  }
}