.estimate__page .content {
  position: relative;
}
.estimate__lines {
  position: absolute;
  bottom: 290px;
  width: 100%;
  height: 360px;
  z-index: 2;
  pointer-events: none;
  background-image: url(../img/estimate/estimate_lines.svg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -khtml-background-size: cover;
}
.estimate__page .header {
  background: #fff;
}
.estimate__page .header.scrolled {
  position: absolute;
  box-shadow: none;
}
.estimate__page .header.scrolled .header__block_logo {
  align-items: flex-end;
}
.estimate__page .header.scrolled .header__btn_ep {
  display: none;
}
.estimate__page .header.scrolled .header__block_logo:before {
  display: none;
}
.estimate__page .header__menu_line {
  background: linear-gradient(150deg, #087b96 5%, #03d9fb 60%);
}
.estimate__page .header__logo:hover {
  color: #A6A6A6;
}
.estimate__page .header__block_menu {
  display: none;
}
.estimate__page .header__btn_om span {
  background: #6C6C6C;
}
.estimate__page .header__btn_om:hover span {
  background: #00A2B8;
}
.header__block_btn {
  margin-left: auto;
}
.btn__back_home {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 67.5px;
  text-decoration: none;
  padding: 0 20px;
}
.btn__back_home:hover .back__home_txt{
  color: #00A2B8;
}
.back__home_svg {
  fill: #00A2B8;
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  margin-right: 20px;
}
.back__home_txt {
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  text-decoration: none;
  color: #888888;
}
.estimate__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 30px);
  max-width: 1067px;
  padding: 0 15px;
  margin-bottom: 117px;
}
.estimate__container_title {
  font-family: 'EkibastuzBlack';
  font-size: 54px;
  line-height: 54px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #4A4A4A;
}
.estimate__container_description {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #828282;
  margin-bottom: 80px;
}
.main__form {
  margin-bottom: 42px;
}
.main__form_block {
  display: flex;
  width: 100%;
  height: 250px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.main__block_namber {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27.2%;
}
.main__block_first .main__block_namber {
  background: linear-gradient(180deg, #2FB092 0%, #333B60 100%);
}
.main__block_second .main__block_namber {
  background: linear-gradient(180deg, #EA4ADA 0%, #472B77 100%);
}
.main__block_third .main__block_namber {
  background: linear-gradient(180deg, #FB9D4B 0%, #8D1C2C 100%);
}
.namber__block_img {
  margin-right: 17px;
}
.namber__block_txt {
  font-family: 'EkibastuzBlack';
  font-size: 18px;
  line-height: 20px;
  text-transform: capitalize;
  color: #fff;
  margin-top: 40px;
}
.main__block_third .namber__block_txt {
  margin-top: 38px;
}
.main__block_checkbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 72.8%;
}
.checkbox__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  cursor: pointer;
}
.line__block {
  display: block;
  width: 1px;
  height: 72px;
  background: #D8D8D8;
}
.checkbox__block_img {
  margin-bottom: 17px;
}
.checkbox__block_name {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  color: #4A4A4A;
}
.checkbox {
  position: absolute;
  width: 32px;
  height: 32px;
  margin-top: 0;
  z-index: -1;
  opacity: 0;
}
.checkbox__check {
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #CFCFCF;
  margin-top: 17px;
}
.checkbox__block:hover input ~ .checkbox__check {
  background: #f7f7f7;
  border: 1px solid #00A2B8;
}
.checkbox__block input:checked ~ .checkbox__check {
  background: #00A2B8;
  border: 1px solid #00A2B8;
}
.checkbox__check:after {
  position: absolute;
  display: none;
  content: url(../img/estimate/checked.svg);
  top: 9px;
  left: 6px;
}
.checkbox__block input:checked ~ .checkbox__check:after {
  display: block;
}
.checkbox__block:hover input:not([disabled]):checked ~ .checkbox__check {
  background: #008791;
}
.main__block_inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 52px 45px;
  width: calc(72.8% - 90px);
}
.main__input {
  width: calc(50% - 12.5px);
  max-width: 330px;
  margin-top: 0;
}
.secondary__form {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 390px;
  margin-left: calc(27.2% + 45px);
}
.secondary__form_mailink {
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-transform: capitalize;
  color: #828282;
  margin-bottom: 36px;
  white-space: nowrap;
}
.secondary__form_mailink a {
  color: #00A2B8;
}
.secondary__form_mailink a:hover {
  text-decoration: none;
}
.secondary__form textarea[placeholder] {
  margin-top: 0;
}
.secondary__form_text {
  height: 71px;
  margin-bottom: 19px;
}
.secondary__form_description {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #828282;
  margin-bottom: 25px;
}
.radio__block {
  display: flex;
  margin-bottom: 20px;
  cursor: pointer;
}
.secondary__radio_name {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #636363;
  text-align: left;
}
.btn__estimate {
  width: 230px;
  height: 40px;
  margin: 0 auto;
}
.btn__estimate:hover {
  color: #fff;
  background: #00A2B8;
}
.secondary__radio {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: 0;
  z-index: -1;
  opacity: 0;
}
.radio__check {
  position: relative;
  cursor: pointer;
  width: 18px;
  height: 18px;
  margin-top: 0;
  margin-right: 8px;
  background: #fff;
  border-radius: 100%;
  border: 1px solid #CFCFCF;
}
.radio__block:hover input ~ .radio__check {
  background: #f7f7f7;
  border: 1px solid #00A2B8;
}
.radio__block input:checked ~ .radio__check {
  background: #00A2B8;
  border: 1px solid #00A2B8;
}
.radio__check:after {
  position: absolute;
  display: none;
  content: '';
  width: 10px;
  height: 10px;
  top: 4px;
  left: 4px;
  background: #fff;
  border-radius: 100%;
}
.radio__block input:checked ~ .radio__check:after {
  display: block;
}
.radio__block:hover input:not([disabled]):checked ~ .radio__check {
  background: #008791;
}


@media screen and (max-width: 1220px) {
  .estimate__page .header__block_menu.closed,
  .estimate__page .header__block_menu.active {
    display: flex;
  }
  .header__block_btn {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .namber__block_img {
    margin-right: 13px;
    height: 75px;
  }
  .main__form_block {
    height: 200px;
  }
  .namber__block_txt {
    margin-top: 0;
  }
  .main__block_third .namber__block_txt {
    margin-top: 0;
  }
  .checkbox__block_img {
    width: 50px;
    margin-bottom: 15px;
  }
  .checkbox__block_name {
    font-family: Ekibastuz;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    text-transform: capitalize;
    color: #4A4A4A;
  }
  .main__block_inputs {
    align-items: center;
    padding: 30px 25px;
    width: calc(72.8% - 50px);
  }
  .secondary__form {
    margin-left: calc(27.2% + 25px);
  }
}

@media screen and (max-width: 800px) {
  .estimate__container {
    max-width: 580px;
    width: calc(100% - 20px);
    padding: 0 10px;
  }
  .estimate__container_title {
    font-size: 30px;
    line-height: 30px;
  }
  .estimate__container_description {
    max-width: 235px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 27px;
  }
  .main__form_block {
    flex-direction: column;
    height: auto;
  }
  .main__block_namber {
    width: 100%;
    height: 160px;
  }
  .main__block_checkbox {
    width: 100%;
    height: 230px;
  }
  .main__block_inputs {
    height: 130px;
    padding: 42px 20px 51px;
    width: calc(100% - 40px);
  }
  .secondary__form {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 460px) {
  .estimate__container {
    margin-bottom: 82px;
  }
  .main__form_block {
    margin-bottom: 14px;
  }
  .line__block {
    display: none;
  }
  .main__block_inputs {
    height: auto;
  }
  .main__input {
    margin-bottom: 25px;
    max-width: 100%;
    width: 100%;
  }
  #phone {
    margin-bottom: 0;
  }
  .secondary__form {
    max-width: 100%;
    text-align: center;
    margin-left: 17px;
    margin-right: 17px;
  }
  .secondary__form_mailink {
    line-height: 21px;
    white-space: normal;
  }
}
@media screen and (max-width: 475px) {
  .estimate__lines {
    display: none;
  }
}
@media screen and (max-width: 440px) {
  .secondary__form_radio {
    max-width: 260px;
    margin: 0 auto;
  }
  .radio__check {
    min-width: 18px;
  }
}